.pmwdoc-404 {
	max-width: max-content;
	position: relative;
	width: auto;
}

.pmwdoc-404 .graphic {
	background-image: url(../static/wompwomp.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 100vh;
	position: absolute;
	right: -12em;
	width: 10em;
}

.pmwdoc-404-hero {
	font-size: 3em;
	font-weight: 600;
	margin-bottom: 0em;
}

.pmwdoc-404-header {
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 1em;
	margin-top: 0em;
}
