[submodule "packages/prvdmwrong-debugger/lib/vendor/Fusion"]
	path = packages/prvdmwrong-debugger/lib/vendor/Fusion
	url = https://github.com/dphfox/Fusion.git
[submodule "packages/knit-compat/lib/promise"]
	path = packages/knit-compat/lib/promise
	url = https://github.com/evaera/roblox-lua-promise.git
