**.env

node_modules
include
**/node_modules
**/include
**.tsbuildinfo

**/DevPackages

.DS_Store
desktop.ini

roblox.toml

**/sourcemap*.json
globalTypes.d.luau
/*.d.luau
**/roblox.yml

**/dist
**/out
**/site
dist
out
site

doc.build

package-lock.json
pnpm-lock.yaml
wally.lock
*.lock

/target
