{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <div class="pmwdoc-404">
	<div class="graphic"></div>
	<p class="pmwdoc-404-hero">
		WOMP WOMP.
  </p>
	<p class="pmwdoc-404-header">
		Four oh four.
  </p>
	Wrong turn, buddy. Maybe one of these could help you:
	<section class="pmwdoc-404-advice">
		<p>
			<ul>
				<li>
					Use the search box above to try and find the page.
				</li>
				<li>
					The page might not exist yet.
				</li>
				<li>
          Alternatively, <a href="/">return to the main page instead.</a>
				</li>
			</ul>
		</p>
	</section>
  </div>
{% endblock %}

<!-- Disqus integration -->
{% block disqus %}{% endblock %}

{% block site_nav %}
	<!-- Navigation -->
	{% if nav %}
		{% if page.meta and page.meta.hide %}
			{% set hidden = "hidden" if "navigation" in page.meta.hide %}
		{% endif %}
		<div
		class="md-sidebar md-sidebar--primary"
		data-md-component="sidebar"
		data-md-type="navigation"
		{{ hidden }}
		>
			<div class="md-sidebar__scrollwrap">
				<div class="md-sidebar__inner">
					{% include "partials/nav.html" %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
