.prvdmwrong-footer {
  padding: 0 0.75rem;
  font-size: 0.64rem;

  .prvdmwrong-footer-customization {
    display: flex;
    align-items: center;
    gap: 0.5em;

    span {
      font-size: 1.5em;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      gap: 0.5em;

      select {
        border: none;
        font: inherit;
        font-weight: 700;
        padding: 0.25em;
        border-radius: 0.25em;


        &:hover,
        &:focus {
          background-color: var(--md-accent-fg-color);
          cursor: pointer;
        }
      }
    }
  }
}

.md-footer-meta {
  display: flex;
  justify-content: center;
  opacity: 0.4;
  background-color: transparent !important;
}

.md-footer__title,
.md-footer__direction {
  padding: 0;
}

.md-footer__button.md-icon {
  margin-top: -0.25rem;
  transform: translateX(0rem);
  transition: transform 0.2s ease;
}

.md-footer__link--next:hover .md-footer__button.md-icon {
  transform: translateX(0.5rem);
}

.md-footer__link--prev:hover .md-footer__button.md-icon {
  transform: translateX(-0.5rem);
}

@media screen and (min-width: 80rem) {

  .md-footer__inner,
  .prvdmwrong-footer {
    max-width: calc(40rem - 1rem) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
