body {
	--distance-to-top-of-page: 4.8rem;
	--hero-height: calc(100vh - 5rem - var(--distance-to-top-of-page));
	--hero-bg: var(--md-default-bg-color--light);
}

.md-content {
	max-width: none;

	.md-content__inner {
		padding-top: 0;

		&::before {
			height: 0;
		}
	}
}

@media screen and (max-width: 76.25rem) {
	.md-content {
		--distance-to-top-of-page: 2.4rem;
	}
}

.md-header {
	background-color: var(--md-default-bg-color);

	&.md-header--shadow {
		box-shadow:
			0 0 0.2rem var(--md-default-bg-color),
			0 0.2rem 0.4rem var(--md-default-bg-color);
	}

	animation: navbar-scroll linear;
	animation-timeline: scroll();
	animation-range: 0 5rem;
}

.md-tabs {
	animation: navbar-scroll linear;
	animation-timeline: scroll();
	animation-range: 0 5rem;
}

.reveal-on-load {
	animation: reveal-on-load 0.5s ease 0.5s;
	animation-fill-mode: forwards;
}

.prvdmwrong-home {
	display: flex;
	flex-direction: column;

	.prvdmwrong-home-hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;

		min-height: calc(100vh - 5rem - var(--distance-to-top-of-page));
		max-width: 41rem;
		margin-left: auto;
		margin-right: auto;
		clip-path: inset(0 -100vmax);

		background-color: var(--hero-bg);
		box-shadow: 0 0 0 100vmax var(--hero-bg);

		font-size: 1.25rem;
		text-align: center;

		&::before {
			--border-width: 0.125rem;
			--border-color: var(--md-default-fg-color--lightest);

			content: "";
			display: block;

			width: 100vw;
			min-height: calc(100vh - 5rem - var(--distance-to-top-of-page));
			position: absolute;
			z-index: -1;

			background: url("../assets/construction.svg");
			background-size: cover;
			background-position: center bottom;
			background-repeat: no-repeat;
			border-bottom: var(--border-width) solid var(--border-color);
			opacity: 50%;
		}

		h1 {
			font-size: 2.5em;
		}

		nav > p {
			display: flex;
			margin: 0;
			gap: 0.5rem;

			a {
				background-color: var(--md-default-fg-color--lightest);
				color: var(--md-default-fg-color);

				padding: 0.5rem 1rem;
				border: none !important;
				border-radius: 0.125rem;
				transition: background-color 125ms;
				font-weight: 700;

				&:first-child {
					background-color: var(--md-default-fg-color);
					color: var(--md-default-bg-color);
				}

				&:hover {
					background-color: var(--md-accent-fg-color);
					color: var(--md-default-fg-color);
				}
			}
		}
	}

	.prvdmwrong-home-scrolldown {
		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;
		min-height: 5rem;
		margin-left: auto;
		margin-right: auto;

		font-size: 1rem;
		font-weight: 700;
		color: var(--md-default-fg-color--light);

		&::before {
			content: "↓";
			display: inline-block;
			margin-right: 0.25rem;
			font-size: 0.75rem;
			animation: scrolldown-move 1s ease-in-out infinite alternate;
		}

		&::after {
			content: "";
			background: linear-gradient(
				to right,
				var(--md-default-bg-color) 40%,
				transparent 45%,
				transparent 55%,
				var(--md-default-bg-color) 60%
			);
			opacity: 0.3;
			animation: scrolldown-shimmer 2s linear infinite;

			position: absolute;
			top: 0;
			bottom: 0;
			left: -200%;
			right: -200%;
			height: 100%;
		}
	}
}

@keyframes navbar-scroll {
	0% {
		background-color: var(--hero-bg);
	}

	100% {
		background-color: var(--md-default-bg-color);
	}
}

@keyframes logo-scroll {
	0% {
		height: 3.6rem !important;
	}

	100% {
		height: 1.8rem !important;
	}
}

@keyframes scrolldown-move {
	0% {
		transform: translateY(-0.125rem);
	}

	100% {
		transform: translateY(0.15rem);
	}
}

@keyframes scrolldown-shimmer {
	0% {
		transform: translateX(-25%);
	}

	100% {
		transform: translateX(25%);
	}
}

@keyframes reveal-on-load {
	0% {
		opacity: 0;
		translate: 0 1em;
	}

	100% {
		opacity: 1;
		translate: 0 0;
	}
}
