:root {
  --prvdmwrong-hue: 240;
  --prvdmwrong-chroma: 0.025;
  --prvdmwrong-gray-0: oklch(0 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-1: oklch(0.05 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-2: oklch(0.1 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-3: oklch(0.15 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-4: oklch(0.2 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-5: oklch(0.4 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-6: oklch(0.8 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-7: oklch(0.85 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-8: oklch(0.9 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-9: oklch(0.95 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));
  --prvdmwrong-gray-10: oklch(1 var(--prvdmwrong-chroma) var(--prvdmwrong-hue));

  --prvdmwrong-accent-hue: 50;
  --prvdmwrong-accent-chroma: 0.15;
  --prvdmwrong-accent: oklch(0.6 var(--prvdmwrong-accent-chroma) var(--prvdmwrong-accent-hue));
  --prvdmwrong-accent-dark: oklch(0.55 var(--prvdmwrong-accent-chroma) var(--prvdmwrong-accent-hue));
  --prvdmwrong-accent-darker: oklch(0.4 var(--prvdmwrong-accent-chroma) var(--prvdmwrong-accent-hue));
  --prvdmwrong-accent-light: oklch(0.65 var(--prvdmwrong-accent-chroma) var(--prvdmwrong-accent-hue));
  --prvdmwrong-accent-lighter: oklch(0.7 var(--prvdmwrong-accent-chroma) var(--prvdmwrong-accent-hue));
}

[data-md-color-scheme="prvdmwrong-dark"] {
  --md-primary-fg-color: var(--prvdmwrong-accent);
  --md-primary-fg-color--light: var(--prvdmwrong-accent-dark);
  --md-primary-fg-color--dark: var(--prvdmwrong-accent-light);
  --md-primary-bg-color: var(--prvdmwrong-gray-8);
  --md-primary-bg-color--light: var(--prvdmwrong-gray-6);

  --md-accent-fg-color: var(--prvdmwrong-accent);
  --md-accent-fg-color--transparent: oklch(from var(--prvdmwrong-accent), 0.9);
  --md-accent-bg-color: var(--prvdmwrong-gray-8);
  --md-accent-bg-color--light: var(--prvdmwrong-gray-6);

  --md-default-fg-color: var(--prvdmwrong-gray-8);
  --md-default-fg-color--light: var(--prvdmwrong-gray-7);
  --md-default-fg-color--lighter: var(--prvdmwrong-gray-6);
  --md-default-fg-color--lightest: var(--prvdmwrong-gray-5);
  --md-default-bg-color: var(--prvdmwrong-gray-4);
  --md-default-bg-color--light: var(--prvdmwrong-gray-3);
  --md-default-bg-color--lighter: var(--prvdmwrong-gray-2);
  --md-default-bg-color--lightest: var(--prvdmwrong-gray-1);

  --md-typeset-color: var(--prvdmwrong-gray-8);

  --md-typeset-a-color: var(--md-primary-fg-color);

  --md-typeset-del-color: oklch(75% 1 120 / 0.15);
  --md-typeset-ins-color: oklch(75% 1 160 / 0.15);

  --md-typeset-kbd-color: hsla(0, 0%, 98%, 1);
  --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
  --md-typeset-kbd-border-color: hsla(0, 0%, 72%, 1);

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

  --md-warning-fg-color: var(--prvdmwrong-gray-8);
  --md-warning-bg-color: var(--prvdmwrong-accent);

  --md-footer-fg-color: var(--prvdmwrong-gray-8);
  --md-footer-fg-color--light: var(--prvdmwrong-gray-7);
  --md-footer-fg-color--lighter: var(--prvdmwrong-gray-6);
  --md-footer-bg-color: var(--prvdmwrong-gray-4);
  --md-footer-bg-color--dark: var(--prvdmwrong-gray-3);

  --md-mermaid-node-bg-color: oklch(from var(--md-accent-fg-color) l c h / 0.25);
}

[data-md-color-scheme="prvdmwrong-light"] {
  --md-primary-fg-color: var(--prvdmwrong-accent);
  --md-primary-fg-color--light: var(--prvdmwrong-accent-light);
  --md-primary-fg-color--dark: var(--prvdmwrong-accent-dark);
  --md-primary-bg-color: var(--prvdmwrong-gray-4);
  --md-primary-bg-color--light: var(--prvdmwrong-gray-5);

  --md-accent-fg-color: var(--prvdmwrong-accent);
  --md-accent-fg-color--transparent: oklch(from var(--prvdmwrong-accent), 0.9);
  --md-accent-bg-color: var(--prvdmwrong-gray-8);
  --md-accent-bg-color--light: var(--prvdmwrong-gray-7);

  --md-default-fg-color: var(--prvdmwrong-gray-2);
  --md-default-fg-color--light: var(--prvdmwrong-gray-3);
  --md-default-fg-color--lighter: var(--prvdmwrong-gray-4);
  --md-default-fg-color--lightest: var(--prvdmwrong-gray-6);
  --md-default-bg-color: var(--prvdmwrong-gray-9);
  --md-default-bg-color--light: var(--prvdmwrong-gray-8);
  --md-default-bg-color--lighter: var(--prvdmwrong-gray-7);
  --md-default-bg-color--lightest: var(--prvdmwrong-gray-6);

  --md-typeset-color: var(--prvdmwrong-gray-4);

  --md-typeset-a-color: var(--md-primary-fg-color);

  --md-typeset-del-color: oklch(75% 1 120 / 0.15);
  --md-typeset-ins-color: oklch(75% 1 160 / 0.15);

  --md-typeset-kbd-color: hsla(0, 0%, 98%, 1);
  --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
  --md-typeset-kbd-border-color: hsla(0, 0%, 72%, 1);

  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

  --md-warning-fg-color: var(--prvdmwrong-gray-8);
  --md-warning-bg-color: var(--prvdmwrong-accent);

  --md-footer-fg-color: var(--prvdmwrong-gray-2);
  --md-footer-fg-color--light: var(--prvdmwrong-gray-3);
  --md-footer-fg-color--lighter: var(--prvdmwrong-gray-4);
  --md-footer-bg-color: var(--prvdmwrong-gray-9);
  --md-footer-bg-color--dark: var(--prvdmwrong-gray-8);
}

.md-header__button.md-logo {
  padding: 0 0 0 0.4rem;
}

.md-header__button.md-logo>img {
  height: 0;
}

[data-md-color-scheme="prvdmwrong-light"] .prvdmwrong-dark-theme-only,
[data-md-color-scheme="prvdmwrong-dark"] .prvdmwrong-light-theme-only,
[data-md-color-scheme="prvdmwrong-light"] img[src$="#only-dark"],
[data-md-color-scheme="prvdmwrong-dark"] img[src$="#only-light"] {
  display: none !important;
}

[data-md-color-scheme="prvdmwrong-light"] img[src$="#only-light"],
[data-md-color-scheme="prvdmwrong-dark"] img[src$="#only-dark"] {
  display: initial;
}
