.md-typeset code,
.md-typeset kbd,
.md-typeset pre {
	font-feature-settings: "kern", "liga";
	font-variant-ligatures: normal;
}

[data-md-color-scheme="ompdoc-light"] {
	--md-code-fg-color: var(--ompdoc-gray-8);
	--md-code-bg-color: var(--ompdoc-gray-3);

	--md-code-hl-number-color: oklch(from var(--ompdoc-accent) 0.65 c 40);
	--md-code-hl-special-color: oklch(from var(--ompdoc-accent) 0.65 c 40);
	--md-code-hl-function-color: var(--ompdoc-gray-8);
	--md-code-hl-constant-color: oklch(from var(--ompdoc-accent) 0.65 c 40);
	--md-code-hl-keyword-color: var(--ompdoc-accent-lighter);
	--md-code-hl-string-color: oklch(from var(--ompdoc-accent) 0.9 c h);
	--md-code-hl-name-color: var(--ompdoc-gray-8);
	--md-code-hl-operator-color: oklch(0.5 0 0);
	--md-code-hl-punctuation-color: oklch(0.5 0 0);
	--md-code-hl-comment-color: var(--ompdoc-gray-4);
	--md-code-hl-generic-color: var(--ompdoc-gray-6);
	--md-code-hl-variable-color: var(--ompdoc-gray-6);
}

[data-md-color-scheme="ompdoc-dark"] {
	--md-code-fg-color: var(--ompdoc-gray-8);
	--md-code-bg-color: var(--ompdoc-gray-3);

	--md-code-hl-number-color: oklch(from var(--ompdoc-accent) 0.65 c 40);
	--md-code-hl-special-color: oklch(from var(--ompdoc-accent) 0.65 c 40);
	--md-code-hl-function-color: var(--ompdoc-gray-8);
	--md-code-hl-constant-color: oklch(from var(--ompdoc-accent) 0.65 c 40);
	--md-code-hl-keyword-color: var(--ompdoc-accent-lighter);
	--md-code-hl-string-color: oklch(from var(--ompdoc-accent) 0.9 c h);
	--md-code-hl-name-color: var(--ompdoc-gray-8);
	--md-code-hl-operator-color: oklch(0.5 0 0);
	--md-code-hl-punctuation-color: oklch(0.5 0 0);
	--md-code-hl-comment-color: var(--ompdoc-gray-4);
	--md-code-hl-generic-color: var(--ompdoc-gray-6);
	--md-code-hl-variable-color: var(--ompdoc-gray-6);
}

.md-typeset code {
	border-radius: 0.25rem;
}

.highlighttable .linenos {
	border-bottom-left-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
}

.highlighttable .linenodiv {
	box-shadow: none;
}

.highlighttable .linenos {
	box-shadow: inset -0.05rem 0 var(--fusiondoc-grey-3);
}

.highlight .hll {
	box-shadow:
		inset 0.125rem 0 var(--ompdoc-accent),
		320px 0 var(--md-code-hl-color);
	background: linear-gradient(
		to left,
		oklch(from var(--ompdoc-accent) l c h / 0.05) 0%,
		oklch(from var(--ompdoc-accent) l c h / 0.1) 100%
	);
}

.highlighttable .linenodiv pre {
	color: var(--fusiondoc-grey-6);
}

.highlight .md-clipboard {
	color: transparent;
}

.highlight:hover .md-clipboard {
	color: var(--fusiondoc-grey-5);
}

.highlight .md-clipboard:hover {
	color: var(--fusiondoc-grey-10);
}

code:not(pre code, .highlight) {
	background-color: var(--fusiondoc-bg-2) !important;
	color: inherit !important;
}
