.pmwdoc-home-hero {
	--vertical-padding: 0vh;
	--target-size: 40vh;

	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: 120ch;
	min-height: calc(var(--target-size) - var(--top-padding));
	margin-top: calc(var(--vertical-padding) / 2);
	margin-bottom: calc(var(--vertical-padding) / 2);
}

.pmwdoc-home-hero::before {
	background-image: url(../machinery.svg);
	background-size: contain;
	background-size: contain;
	content: "";
	display: block;
	height: 50ch;
	left: 0;
	position: absolute;
	width: 100vw;
	margin-top: auto;
	margin-bottom: auto;
	z-index: -99;
	opacity: 0.15;
	animation: machinery-scroll 60s linear infinite;
}

@keyframes machinery-scroll {
	from {
		background-position: 0;
	}
	to {
		background-position: calc(60ch * 16 / 9);
	}
}

.pmwdoc-home-hero::after {
	background-image: linear-gradient(to bottom, transparent 50%, var(--md-default-bg-color));
	background-repeat: no-repeat;
	background-size: auto;
	content: "";
	display: block;
	height: 50ch;
	left: 0;
	position: absolute;
	width: 100vw;
	margin-top: -40ch;
	opacity: 100%;
	z-index: -98;
}

.pmwdoc-home-hero-inner {
	font-size: 1.2em;
	margin: auto;
	max-width: 60ch;
	text-align: center;

	/* background-color: oklch(from var(--md-default-bg-color) l c h / 0.75);
	background-color: oklch(from var(--md-default-bg-color) / 0.5); */
}

.pmwdoc-home-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 80ch;
}

.pmwdoc-home-body {
	font-size: 1.2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 80ch;
	padding: 1em 0;
}

.pmwdoc-home-aside::before {
	content: "↓";
	display: inline-block;
	margin-right: 0.5em;
	animation: aside-wobble 1s ease-in-out infinite alternate;
}

@keyframes aside-wobble {
	0% {
		transform: translateY(-0.2rem);
	}
	100% {
		transform: translateY(0.2rem);
	}
}

.pmwdoc-home-aside {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-height: 4.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 0.5em;
	/* background-color: var(--nuclear-bg-1); */
	font-weight: 700;
	overflow: hidden;
	/* font-size: 1.2em;
	padding: 1rem;
	text-align: center; */
}

.pmwdoc-home-underline {
	text-decoration: underline;
	text-decoration-color: var(--md-accent-fg-color);
}
