.pmwdoc-home-hero {
	box-sizing: border-box;
	margin-bottom: calc(var(--vertical-padding) / 2);
	margin-left: auto;
	margin-right: auto;
	margin-top: -6vh;
	max-width: 140ch;
	min-height: 40vh;
	position: relative;
	text-align: left;
}

.pmwdoc-home-hero::before {
	background-image: url(../machinery.svg);
	background-size: auto 100%;
	background-repeat: repeat-x;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	content: "";
	display: block;
	height: 100%;
	left: 50%;
	margin-bottom: auto;
	margin-top: auto;
	opacity: 0.15;
	position: absolute;
	transform: translateX(-50%);
	width: 100vw;
	z-index: -99;
	animation: machinery-scroll 480s linear infinite;
}
/*
.pmwdoc-home-hero::after {
	background-image: linear-gradient(to bottom, transparent 50%, var(--md-default-bg-color));
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	content: "";
	display: block;
	height: 50%;
	left: 50%;
	opacity: 100%;
	position: absolute;
	transform: translateX(-50%);
	width: 100vw;
	z-index: -98;
} */

.prvdmwrong-home-features {
	align-items: center;
	display: flex !important;
	flex-direction: column;
	left: 50%;
	margin: 0;
	margin: auto;
	max-width: 75rem;
	overflow-x: hidden;
	padding: 3em 0;
	position: relative;
	transform: translateX(-50%);
	view-timeline-axis: block;
	view-timeline-name: --features-scroll;
	width: 100vw;
}

.prvdmwrong-home-features > ul {
	box-sizing: border-box;
	display: flex !important;
	flex-direction: row;
	font-size: 3em;
	font-weight: bold;
	gap: 0;
	line-height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-wrap: nowrap;
	width: auto;
}

.prvdmwrong-home-features > ul > li:nth-child(1),
.prvdmwrong-home-features > ul > li:nth-child(3) {
	opacity: 0.4;
}

.prvdmwrong-home-features > ul > li:nth-child(2),
.prvdmwrong-home-features > ul > li:nth-child(4) {
	opacity: 0.2;
}

.prvdmwrong-home-features::after {
	content: "";
	position: absolute;
	display: block;
	inset: 0;
	background: linear-gradient(
		to right,
		var(--md-default-bg-color) 0%,
		transparent 10%,
		transparent 90%,
		var(--md-default-bg-color) 100%
	);
}

.pmwdoc-home-list {
	display: grid !important;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
	list-style-type: none;
	gap: 0;
}

.pmwdoc-home-list li:first-child {
	border-radius: 0.25em 0 0 0.25em;
}

.pmwdoc-home-list li:last-child {
	border-radius: 0 0.25em 0.25em 0;
	border-right: 0.1em solid var(--md-default-fg-color--lightest) !important;
}

.pmwdoc-home-list > * {
	display: flex !important;
	flex-direction: column;
	gap: 0;
	border-right: 0 !important;
	border: 0.1em solid var(--md-default-fg-color--lightest);
	padding: 0.5em 1em;
	margin: 0 !important;
}

.pmwdoc-home-list > * > p {
	margin: 0 !important;
}

@supports (animation-timeline: --features-scroll) {
	@media (prefers-reduced-motion: no-preference) {
		.prvdmwrong-home-features > ul {
			animation: features-scroll linear both;
			animation-timeline: --features-scroll;
			animation-range: cover;
		}
	}
}

@keyframes features-scroll {
	0% {
		translate: calc(50% - min(100vw, 75rem) / 2) 0%;
	}
	100% {
		translate: calc(-50% + min(100vw, 75rem) / 2) 0%;
	}
}

@keyframes machinery-scroll {
	from {
		background-position: 0;
	}
	to {
		background-position: calc(210ch * 16 / 9);
	}
}

.pmwdoc-home-hero-inner {
	font-size: 1.1em;
	/* margin: auto; */
	max-width: 60ch;
	/* text-align: center; */

	/* background-color: oklch(from var(--md-default-bg-color) l c h / 0.75);
	background-color: oklch(from var(--md-default-bg-color) / 0.5); */
}

.pmwdoc-home-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 80ch;
}

.pmwdoc-home-body {
	font-size: 1.125em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
}

.pmwdoc-home-body > .grid {
	gap: 2em;
}

@keyframes aside-wobble {
	0% {
		transform: translateY(-0.2rem);
	}
	100% {
		transform: translateY(0.2rem);
	}
}

.pmwdoc-home-aside {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-height: 4.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 0.5em;
	/* background-color: var(--nuclear-bg-1); */
	font-weight: 700;
	overflow: hidden;
	/* font-size: 1.2em;
	padding: 1rem;
	text-align: center; */
}

.pmwdoc-home-underline {
	text-decoration: underline;
	text-decoration-color: var(--md-accent-fg-color);
}

.pmwdoc-version {
	line-height: 0;
	padding: 0;
	margin: 0;
	opacity: 0.5;
	font-size: 0.75em;
	vertical-align: super;
}
