.md-typeset h1 {
	font-weight: 700;
	letter-spacing: -0.02em;
	margin: 0;
}

.md-typeset h2 {
	font-weight: 700;
	letter-spacing: -0.02em;
}

.md-typeset h3 {
	font-weight: 600;
	letter-spacing: -0.01em;
}

.md-typeset a {
	transition: opacity 125ms;
}

.md-typeset a::after {
	content: "↗";
	display: inline-block;
	margin-left: 0.125rem;
	position: relative;
	left: 0;
	bottom: 0;
	transition:
		top,
		bottom,
		0.2s ease;
}

.md-header__button.md-logo {
	width: 9rem;
	height: 2.2rem;
}

.md-header__button.md-logo img {
	opacity: 0;
}

.md-header__button.md-logo::before {
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 2rem;
	margin: auto 0;
	width: 9rem;
}

[data-md-color-scheme="pmwdoc-light"] .md-header__button.md-logo::before {
	background-image: url(../wordmark-light.svg) !important;
}

[data-md-color-scheme="pmwdoc-dark"] .md-header__button.md-logo::before {
	background-image: url(../wordmark-dark.svg);
}

.md-typeset .grid.cards > ul > li:hover {
	border-color: 0.05rem solid var(--md-default-fg-color--lightest);
	box-shadow: none;
}

.md-typeset a:focus,
.md-typeset a:hover {
	opacity: 50%;
}

.md-typeset a:focus::after,
.md-typeset a:hover::after {
	left: 0.25em;
	bottom: 0.25em;
}

/* .md-header {
	box-shadow: none;
} */

.md-typeset img {
	border-radius: 0.25rem;
}

.md-tabs,
.md-header {
	background-color: transparent;
	transition:
		transform 0.25s cubic-bezier(0.1, 0.7, 0.1, 1),
		background 0.25s;
}

.md-header--shadow {
	box-shadow: none;
}

.md-header[data-md-state="shadow"] {
	box-shadow: 0 0 0.35rem 0.5rem var(--md-default-bg-color) !important;
	background-color: var(--md-default-bg-color);
}

@media screen and (min-width: 160rem) {
	.md-header[data-md-state="shadow"] {
		box-shadow: none !important;
		background-color: transparent;
	}
}

.md-nav--secondary .md-nav__title,
.md-source,
.md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
	background: none !important;
	box-shadow: none !important;
}

.md-header.md-header--shadow {
	background-color: var(--md-default-bg-color);
}

h1 > .twemoji:first-child,
h2 > .twemoji:first-child,
h3 > .twemoji:first-child,
h4 > .twemoji:first-child,
h5 > .twemoji:first-child,
h6 > .twemoji:first-child {
	margin-right: 0.25em;
}

.md-footer__inner md-grid {
	padding: 0 1.2rem 0.8rem;
}

.md-copyright {
	opacity: calc(1 / 3);
}

.md-copyright::after {
	display: block;
	content: "Prvd 'M Wrong made with ❤ by znotfireman";
}

::selection {
	background-color: var(--md-accent-fg-color);
	/* color: var(--md-primary-fg-color); */
}

.md-top {
	border-radius: 0.25em;
	background-color: var(--md-default-bg-color--light);
	box-shadow: none !important;
	z-index: 1000;
}

.md-search__form {
	border-radius: 0.25em;
}

.md-footer__inner {
	font-weight: 600;
}

.md-footer__title,
.md-footer__direction {
	padding: 0;
}

.md-footer,
.md-footer-meta {
	background-color: var(--md-default-bg-color);
}

.md-footer__button.md-icon {
	margin-top: -0.25rem;
	transform: translateX(0rem);
	transition: transform 0.2s ease;
}

.md-footer__link--next:hover .md-footer__button.md-icon {
	transform: translateX(0.5rem);
}

.md-footer__link--prev:hover .md-footer__button.md-icon {
	transform: translateX(-0.5rem);
}

.md-nav--primary .md-nav__title[for="__drawer"],
.md-source,
.md-nav__source,
.md-nav--primary .md-nav__title {
	background-color: var(--md-default-bg-color);
}
.md-input {
	background: var(--md-default-bg-color--light);
}

.md-typeset .md-input {
	border-bottom: 1rem solid oklch(var(--md-default-bg-color--lighter) l c h / 0.1) !important;
}

.md-input:focus {
	--md-accent-fg-color: var(--pmwdoc-accent);
}

.md-input::placeholder {
	opacity: 1;
	transform: translateX(0rem);
	transition:
		opacity 0.2s ease,
		transform 0.2s ease;
}

.md-input:focus::placeholder {
	opacity: 0;
	transform: translateX(1rem);
}

.pmwdoc-examples-icons {
	align-content: space-around;
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	float: right;
	height: 2.3em;
	gap: 0.5em;
}

.pmwdoc-examples-icons > span {
	height: 2.3em;
	font-size: 2.3em;
	line-height: 2.6;
	position: relative;
	vertical-align: middle;
}

.pmwdoc-icons-robloxts {
	color: oklch(from #e2241a 0.6 0.15 h);
}

.pmwdoc-icons-luau {
	color: oklch(0.6 0.15 220);
}

.md-typeset .md-button {
	background-color: var(--md-default-fg-color--lightest);
	color: var(--md-default-fg-color) !important;
	border-radius: 0.25em;
	border: none;
	padding: 0.5em 1em;
	opacity: 1 !important;
}

.md-typeset .md-button--primary {
	background-color: var(--md-accent-fg-color);
	color: var(--md-primary-fg-color);
	border-radius: 0.25em;
	border: none;
	padding: 0.5em 1em;
	opacity: 1 !important;
}

.md-typeset .md-button:hover,
.md-typeset .md-button--primary:hover {
	background-color: var(--md-default-fg-color);
	color: var(--md-default-bg-color) !important;
}

a.headerlink::after,
section.dearrow > p > a::after,
.md-typeset .md-button::after {
	content: "" !important;
}

.md-typeset .tabbed-labels > label > [href]::after {
	content: "";
}

/* FUCK YOU. */

.md-typeset .tabbed-set > input:first-child:checked ~ .tabbed-labels > :first-child,
.md-typeset .tabbed-set > input:nth-child(2):checked ~ .tabbed-labels > :nth-child(2),
.md-typeset .tabbed-set > input:nth-child(3):checked ~ .tabbed-labels > :nth-child(3),
.md-typeset .tabbed-set > input:nth-child(4):checked ~ .tabbed-labels > :nth-child(4),
.md-typeset .tabbed-set > input:nth-child(5):checked ~ .tabbed-labels > :nth-child(5),
.md-typeset .tabbed-set > input:nth-child(6):checked ~ .tabbed-labels > :nth-child(6),
.md-typeset .tabbed-set > input:nth-child(7):checked ~ .tabbed-labels > :nth-child(7),
.md-typeset .tabbed-set > input:nth-child(8):checked ~ .tabbed-labels > :nth-child(8),
.md-typeset .tabbed-set > input:nth-child(9):checked ~ .tabbed-labels > :nth-child(9),
.md-typeset .tabbed-set > input:nth-child(10):checked ~ .tabbed-labels > :nth-child(10),
.md-typeset .tabbed-set > input:nth-child(11):checked ~ .tabbed-labels > :nth-child(11),
.md-typeset .tabbed-set > input:nth-child(12):checked ~ .tabbed-labels > :nth-child(12),
.md-typeset .tabbed-set > input:nth-child(13):checked ~ .tabbed-labels > :nth-child(13),
.md-typeset .tabbed-set > input:nth-child(14):checked ~ .tabbed-labels > :nth-child(14),
.md-typeset .tabbed-set > input:nth-child(15):checked ~ .tabbed-labels > :nth-child(15),
.md-typeset .tabbed-set > input:nth-child(16):checked ~ .tabbed-labels > :nth-child(16),
.md-typeset .tabbed-set > input:nth-child(17):checked ~ .tabbed-labels > :nth-child(17),
.md-typeset .tabbed-set > input:nth-child(18):checked ~ .tabbed-labels > :nth-child(18),
.md-typeset .tabbed-set > input:nth-child(19):checked ~ .tabbed-labels > :nth-child(19),
.md-typeset .tabbed-set > input:nth-child(20):checked ~ .tabbed-labels > :nth-child(20) {
	font-weight: 700;
}

.heart {
	animation: heart 1000ms infinite;
}

@keyframes heart {
	0%,
	40%,
	80%,
	100% {
		transform: scale(1);
	}
	20%,
	60% {
		transform: scale(1.05);
	}
}
.heart {
	animation: heart 1000ms infinite;
}

.pmwdoc-brand-colors section {
	padding: 0em 0.75em;
	margin: 0 !important;
	box-sizing: border-box;
	border-radius: 0.25em;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 100%;
	border: 1px solid oklch(0 0 0 / 0.15);
}

.pmwdoc-brand-colors section .pmwdoc-brand-colors-codes {
	font-weight: normal;
	font-size: calc(2em / 3em);
	line-height: 100%;
}

.pmwdoc-hero {
	display: block;
	position: relative;
	width: 100%;
	margin-top: -5em;
	margin-bottom: -5em;
	height: 10em;
	max-height: 30svh;
}

.pmwdoc-hero::before {
	content: " ";
	display: block;
	position: absolute;
	inset: 0;
	bottom: -20em;
	z-index: -1;
	opacity: calc(1 / 3);
	background: radial-gradient(farthest-corner at 50% 0%, transparent, var(--md-default-bg-color)), var(--hero-img);
	background-position: center;
	background-size: cover;
	box-shadow: inset 0 -15em 15em -1em var(--md-default-bg-color);
	filter: blur(0.5em);
}

.pmwdoc-examples-tags > span {
	color: var(--md-default-fg-color);
	height: 2.4em;
	line-height: 2.4em;
	padding: 0 0.8em;
	position: relative;
	vertical-align: middle;
	opacity: 50%;
}

.pmwdoc-examples-tags > span::before {
	background-color: var(--md-default-fg-color);
	border-radius: 1.2em;
	content: "";
	display: block;
	height: 100%;
	line-height: 2.4em;
	opacity: 10%;
	padding: 0 1em;
	position: absolute;
	right: 0;
	width: 100%;
}

.pmwdoc-examples-tags {
	align-content: space-around;
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	float: right;
	height: 2.4em;
	gap: 0.5em;
	margin: 1em 0 0.64em;
}

/* .md-nav__link,
.md-nav__title {
	position: inherit !important;
} */
