.pmwdoc-reference-tags {
	align-content: space-around;
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	float: right;
	height: 2.6em;
	gap: 0.5em;
}

.pmwdoc-reference-breadcrumbs {
	padding-bottom: 0.25em;
}

.pmwdoc-reference-breadcrumbs > a {
	color: var(--md-default-fg-color);
	opacity: 70%;
}

.pmwdoc-reference-breadcrumbs > a::after {
	color: var(--md-default-fg-color--light);
	content: "›";
	display: inline;
	opacity: 70%;
	padding-left: 0.1em;
}

.pmwdoc-reference-breadcrumbs > a:hover::after {
	left: 0;
	bottom: 0;
}

.pmwdoc-reference-tags > span.pmwdoc-reference-highlight,
.pmwdoc-reference-tags > span.pmwdoc-reference-since {
	color: var(--md-default-fg-color);
	height: 2.4em;
	line-height: 2.4;
	padding: 0 0.8em;
	position: relative;
	vertical-align: middle;
	opacity: 50%;
}

.pmwdoc-reference-tags > span.pmwdoc-reference-highlight::before,
.pmwdoc-reference-tags > span.pmwdoc-reference-since::before {
	background-color: var(--md-default-fg-color);
	border-radius: 1.2em;
	content: "";
	display: block;
	height: 100%;
	line-height: 2.6;
	opacity: 10%;
	padding: 0 1em;
	position: absolute;
	right: 0;
	width: 100%;
}

.pmwdoc-reference-tags > span.pmwdoc-reference-highlight {
	color: var(--md-primary-fg-color);
	opacity: 100%;
}

.pmwdoc-reference-tags > span.pmwdoc-reference-highlight::before {
	background-color: var(--md-primary-fg-color);
}
