@media screen and (min-width: 80rem) {
    .md-grid {
        margin-left: 2rem;
        margin-right: 2rem;
        max-width: none;
    }

    .md-content {
        max-width: 41rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.prvdmwrong-hidden {
    display: none;
}
