name: Documentation
on:
    push:
        branches:
            - main

env:
    VERSION: 0.2
    LABEL: "dev"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Configure Git Credentials
              run: |
                  git config user.name github-actions[bot]
                  git config user.email 41898282+github-actions[bot]@users.noreply.github.com

            - uses: actions/setup-python@v5
              with:
                  python-version: 3.x

            - name: Install setuptools (for mike)
              run: pip install --upgrade setuptools

            - name: Install MkDocs
              run: pip install mkdocs-material

            - name: Install mike
              run: pip install mike

            - name: Fetch gh-pages branch
              run: git fetch origin gh-pages

            - name: Deploy latest documentation
              if: env.LABEL == 'release'
              run: mike deploy $VERSION latest --branch gh-pages --push

            - name: Set default version to latest
              if: env.LABEL == 'release'
              run: mike set-default latest --branch gh-pages --push

            - name: Deploy developer documentation
              if: env.LABEL == 'dev'
              run: mike deploy $VERSION --branch gh-pages --push
